h1{
font-size: 70px;
text-align: center;
color:#c98a06;
}

body{
font-family: Arial;
background-color: #2f3033;
}

p{
color:#c98a06;
font-size: 25px;
}
 li{

   color:#c98a06;
font-size: 25px;
   }

   footer{
     color: yellow;
     position: absolute;
       left: 1300px;
       top: 20px;
       font-size: 20px;
       font-family: arial;
}

a{

  color: yellow;
}
