h1{
font-size: 70px;
text-align: center;
color: #c98a06;
}

p{
text-align: center;
font-size: 25px;
color: #c98a06;
}

body{
background-color: #2f3033;
font-family: arial;
}

footer{
  color: yellow;
  position: absolute;
    left: 1300px;
    top: 20px;
    font-size: 20px;
    font-family: arial;


}

a{

  color: yellow;
}
